body {
	overflow-x: hidden;
}

.intro {
	background-color: #1f2230;
	height: 50%;
}

.profile-picture-container {
	top: 90px;
	left: 10%;
	color: #ffffff;
}

.profile-picture {
	object-fit: cover;
	height: 150px;
	width: 150px;
	border-radius: 5px;
}

.biopic{
	position: relative;
	margin-top: 110px;
	left: 10%;
}

.header {
	background-color: #fcfcfc;
	height: 42px;
	font-size: 0.9rem;
	font-weight: 500;
	border-bottom: solid 1px rgba(0,0,0,0.09);
	border-top: solid 1px rgba(0,0,0,0.09);
	color: #727272;
	padding-left: 20px;
}

.work, .education, .projects{
	position: relative;
	margin-top: 10px;
	left: 10%;
}
