<!DOCTYPE html>
<html ng-app="himanshuProfile" ng-cloak ng-controller="mainApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Himanshu Aggarwal</title>

	<!-- External CSS -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="app.css">
</head>

<body>

<!-- Profile picture -->
	<div layout="row" class="intro" layout-wrap>
		<div layout="column" flex="100">
			<md-list flex="100">
		      <md-list-item class="md-3-line profile-picture-container">
		        <img ng-src="self.min.jpg" class="profile-picture">
		        <div class="md-list-item-text" layout="column" style="padding-left: 20px;">
		        	<h1> {{ profileData.basicInfo.name }} </h1>
		        	<h3 style="color:#cccdd1;"> <md-icon class="material-icons" style="color:#cccdd1;"> work </md-icon> {{ profileData.basicInfo.currentStatus }} </h3>
		        	<br>
		        	<p style="color:#cccdd1;"> <md-icon class="material-icons" style="color:#cccdd1;"> location_on </md-icon> {{ profileData.basicInfo.currentLocation }} </p>
		        </div>
		      </md-list-item>
		    </md-list>
		</div>

		<!-- Description -->
	  <div layout="column" class="biopic" style="width: 80%;">
	  	<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
		    <div class="header" layout="row" layout-align="start center">Description</div>
		    <div layout="row" layout-wrap>
		    	<div layout="row" style="padding-left: 20px; padding-right: 20px;" layout-wrap flex="100">
			    	<h3 class="md-body-2" layout="row" layout-align="start center" style="font-size: 16px; margin-bottom: -10px;" flex="100">Bio</h3>
			    	<p class="md-subhead" style="color: #827e7e; font-weight: 400;"> {{ profileData.basicInfo.bio }} </p>
			    </div>
			    <div layout="row" style="padding-left: 20px; padding-right: 20px;" layout-wrap flex="100">
			    	<h3 class="md-body-2" layout="row" layout-align="start center" style="font-size: 16px; margin-bottom: 0px;" flex="100">Skills</h3>
			    	<md-chips
			        ng-model="profileData.basicInfo.skills"
			        readonly = "true"
			        md-removable="false" style="margin-left: -10px;">
			      </md-chips>
			    </div>
		    </div>
			    
	  	</md-card>
	  </div>

	  <!-- Work experience -->
	  <div layout="column" class="work" style="width: 80%;">
	  	<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
		    <div class="header" layout="row" layout-align="start center">Work Experience</div>
		    <div layout="row" layout-wrap>
		    	<md-list flex>
		        <md-list-item class="md-3-line" ng-repeat="company in profileData.companies">
		          <div class="md-list-item-text" layout="column" style="padding-left: 8px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
		            <div class="md-body-2">{{ company.name }}</div>
		            <h4 class="md-subhead" style="color: #827e7e;">{{ company.position }}</h4>
		            <p class="md-subhead" style="color: #827e7e;">{{ company.start }} - {{ company.end }}</p>
		          </div>
		        </md-list-item>
		      </md-list>
		    </div> 
	  	</md-card>
	  </div>

	  <!-- Education -->
	  <div layout="column" class="education" style="width: 80%;">
	  	<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
		    <div class="header" layout="row" layout-align="start center">Education</div>
		    <div layout="row" layout-wrap>
		    	<md-list flex>
		        <md-list-item class="md-3-line" ng-repeat="school in profileData.schools">
		          <div class="md-list-item-text" layout="column" style="padding-left: 8px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
		            <div class="md-body-2">{{ school.name }}</div>
		            <h4 class="md-subhead" style="color: #827e7e;">{{ school.position }}</h4>
		            <p class="md-subhead" style="color: #827e7e;">{{ school.start }} - {{ school.end }}</p>
		          </div>
		        </md-list-item>
		      </md-list>
		    </div> 
	  	</md-card>
	  </div>

	  <div layout="column" class="projects" style="width: 80%;"> 
	  	<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
	  		<div class="header" layout="row" layout-align="start center">Projects</div>
	  		<div layout="row" layout-wrap> 
		  		<md-list flex>
			        <md-list-item class="md-3-line" ng-repeat="project in profileData.projects">
			          <div class="md-list-item-text" layout="column" style="padding-left: 8px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
			          	<div class="md-body-2" layout="row" layout-align="start center" flex="50"> {{ project.name }} </div>
			            <p class="md-subhead" style="color: #827e7e; font-weight: 400;">{{ project.description }}</p>
			            <p class="md-subhead" style="color: #827e7e;">{{ project.start }} - {{ project.end }}</p>
			          </div>
				        <br>
			        </md-list-item>
			      </md-list>
		  	</div>
	  	</md-card>
	  </div>

	</div>


	<!-- External JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
	<!-- Custom JS -->
	<script type="text/javascript" src="app.js"></script>
	<!-- Services -->
	<script type="text/javascript" src="services.js"></script>
	<!-- Controllers -->
	<script type="text/javascript" src="controller.js"></script>
</body>
</html>
